@import "~taro-ui/dist/style/components/modal.scss";
.home-page {
  width: 100vw;
  min-height: 100vh;
  background-color: #18181a;
  position: relative;
  padding-bottom: 15vh;

  .box-wapper {
    padding: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;

    .box {
      color: #fff;
      width: 100%;
      height: 250px;
      background-color: rgba($color: #26282c, $alpha: 1.0);
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      .icon-image{
        width: 3rem;
        height: 3rem;
        margin-bottom: 0.5rem;
      }

      .highlight-text {
        color: #78DB64;
      }
    }
  }

  .button-wapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;

    .button {
      color: #999;
      border-color: #26282c;
      background-color: #26282c;
      margin: 0;
      padding: 0.5rem 0.8rem;
      font-size: 0.9rem;
      border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &-icon {
        width: 0.9rem;
        height: 0.9rem;
        margin-right: 0.2rem;
      }
    }
  }
}
