@import "~taro-ui/dist/style/components/tabs.scss";

.at-tabs {
  min-height: 100vh;
  background-color: #18181a;

  .at-tabs__header {
    background-color: #18181a;

    .at-tabs__item {
      color: #3c3e41;

      .at-tabs__item-underline {
        background-color: #78DB64;
      }
    }

    .at-tabs__item--active {
      color: #78DB64;

    }
  }

  .at-tabs__body {
    .order-list {
      background-color: #18181a;
      padding: 0 1.5rem;
      min-height: 100vh;
    }
  }

  .at-tabs__underline {
    background-color: #3c3e41;
  }

  .at-tabs-pane {
    background-color: #18181a;
  }
}
