@import "~taro-ui/dist/style/components/tabs.scss";

.reserve-order {
  width: 100%;
  background-color: #26282c;
  align-items: center;
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  margin-top: 1rem;
  color: #fff;
  position: relative;

  .reserve-order-text {

    .title {
      display: flex;
      margin-bottom: 0.5rem;
      align-items: center;

      .title-text {
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
      }

      .icon-image {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 0.3rem;
      }
    }

    .court-id {
      display: block;
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }

    .court-time {
      display: block;
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }

    .highlight {
      color: #78DB64;
    }

    .order-id {
      font-size: 0.9rem;
    }


  }

  .status-tips {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);

    .used-tip {
      width: 6rem;
      text-align: center;
      font-size: 0.9rem;
      color: #F56C6C;
      border: 0.15rem solid #F56C6C;
      font-weight: 700;
      border-radius: 0.4rem;
      padding: 0.3rem;
    }

    .overtime-tip {
      width: 5rem;
      text-align: center;
      font-size: 0.9rem;
      color: #9999;
      border: 0.15rem solid #999;
      font-weight: 700;
      border-radius: 0.4rem;
      padding: 0.3rem;
    }

    .reserve-order-button {
      border-color: #78DB64;
      background-color: #78DB64;
      color: #fff;
      margin: 0;
    }
  }


}
