@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";

.reserve-order-list {
  width: 100vw;
  min-height: 100vh;
  background-color: #18181a;
  box-sizing: border-box;
  padding: 1rem;
  color: #fff;

  .reserve-order {
    width: 100%;
    background-color: #26282c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;

    .reserve-order-text {
      .title {
        display: flex;
        margin-bottom: 0.5rem;
        align-items: center;

        .title-text {
          font-weight: 700;
          font-size: 1.5rem;
          letter-spacing: 0.1rem;
        }

        .icon-image {
          width: 1.5rem;
          height: 1.5rem;
          margin-left: 0.3rem;
        }
      }

      .court-id {
        display: block;
        margin-bottom: 0.5rem;
      }

      .highlight {
        color: #78DB64;
      }

      .order-id {
        font-size: 0.8rem;
        color: #999;
      }
    }

    .reserve-order-button {
      border-color: #78DB64;
      background-color: #78DB64;
      color: #fff;
      margin: 0;
    }
  }
}
