@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";
@import "~taro-ui/dist/style/components/message.scss";
@import "~taro-ui/dist/style/components/toast.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.ticket-page {
  width: 100vw;
  min-height: 100vh;
  background-color: #18181a;
  color: #fff;
  display: flex;
  flex-direction: column;

  .ticket-wapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .ticket-title {
      margin-top: 10%;
      font-weight: 700;
      font-size: 3rem;
      letter-spacing: 0.5rem;
      margin-bottom: 2rem;
    }

    .ticket-price {
      font-size: 1.2rem;

    }

    .member-price {
      font-size: 1.2rem;
      margin-top: 0.5rem;
    }

    .highlight {
      font-weight: 700;
      color: #78DB64;
    }
  }
}



.online-button {
  background-color: #78DB64;
  border-color: #78DB64;
  font-weight: 700;
  padding: 0 2rem;
  margin-top: 3.5rem;
}

.sum-button {
  border-color: #78DB64;
  font-weight: 700;
  padding: 0 2rem;
  color: #78DB64;
  margin-top: 1.5rem;
}
